<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A0A4AF00F7084970072EDF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A0A4FD80F70D6B40072EDF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A0A7BB61953C6E4009F61F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A15ECD609E35CE300159C62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A15ED2209E35F0800159C62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A15ED3C09E361C000159C62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A15ED4509E361E400159C62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A1EAB910BD72BD600E40F56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A203BEE15EE1E85001625A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A2607540C6FAFA7002D599C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3AB7051AEA008B007691DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3ABD0B12B11FAF00F25466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A3F7D341AE0BC1F00252BD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A5B13620B5C36C2008A315C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A7797820CCEE7850021FAC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A7F53410A29A1D100F474E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A7F534A0A29A24600F474E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A7F76D10C616E7700E42DF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A7F76E70C616E9B00E42DF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A88F3A715D3657A002E595A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A88F3D215D365AA002E595A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AA256791AE0BBEE0003CD2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AA256FF1AE0BBF30003CD2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AA257851AE0BBF70003CD2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AC3888912A8F204002F3A44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AC7301A180CF4570012E1AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AC7303C180CF5C00012E1AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AC73049180CF5C30012E1AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AC73056180CF5C50012E1AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AC73063180CF5C90012E1AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AD230010D42DF3900CFF64B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AD5C30C0A38FFBB003F13D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AD5C3120A38FFDA003F13D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AD5C40E0A390214003F13D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AD5C4270A39024B003F13D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AD5C4490A390355003F13D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AD6D8F317B1F9270062F7B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEB27381804BC2E002290C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AF79D750A26A39500E900EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AFF1AD80BE0091300CF3E69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7866888508E48C3000DC7F78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7868FEB908E88F0E0089F090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78BB3F8508E486DB00D7CA2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78BBCC6C08E4A4D200AEE575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78BBCC7D08E4A70A00AEE575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78BBCE2208E4AC6600AEE575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78BBCE4008E4AEFC00AEE575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
